

.img-hero{

  width: 500px;
  height: 600px;
  position: absolute; 
  top:60%;
  left: 69%; 
  transform: translate(-50%, -50%);
}

.text-title {

  font-size: 60px;
  font-weight: bold; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img-bg{
  height: 640px;
  width: 700px;
}
.text-hero{
  margin: 90px;
}


.slidebar{
  width: 200px;
max-height: max-content;

  background-color: #222;
  padding: 10px;
  box-sizing: border-box;
  color:#fff; 
  overflow: hidden; 
  border-radius: 1rem 0 0 1rem ;
  transition: width .0=75s ease ;
}
/* .slidebar{
  width: 300px;
  text-align: center;
} */





